<div class="center jumbotron">

<h1>Welcome to the Twitter App</h1>
  <h2>
     This is the home page for my
     <a href="#">Ruby on Rails </a>
     Twitter App.
  </h2>

  <%= link_to "sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


  <%= link_to image_tag("twitter_.jpg", alt:"Rails logo", width: "150"), "http://rubyonrails.org/" %>